name: Epic Free Games to Discord

on:
  schedule:
    - cron: '0 15 * * 4'   # codziennie 17:00 (UTC)
  workflow_dispatch:

jobs:
  run:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run PowerShell script
        shell: pwsh
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          ./epic.ps1
